.showDataContainer{
    background-color: aliceblue;
    border-radius: 10px;
    padding:15px;
}

.heading{
    color: rgb(41, 2, 149);
    font-weight: 900;
    font-size: 20px;
    margin-left: 15px;
}


